version: "3"
services:
  reverseproxy:
    build:
      context: .
    image: harry329/nginx-proxy
#  backend_user:
#    build:
#      context: ../udacity-c3-restapi-user
#    image: harry329/udacity-project-restapi-user
#  backend_feed:
#    build:
#      context: ../udacity-c3-restapi-feed
#    image: harry329/ udacity-project-restapi-feed
  frontend:
    build:
      context: ../udacity-c3-frontend
    image: harry329/udacity-project-frontend
